/* for all */
*{
    margin:0;
    padding:0;
    line-height: 1;
    font-family: 'Nanum Gothic', serif;
    list-style: none;
}
/* wrap */
.wrap{
    max-width:1280px; /* for responsive UI */
    margin: 0 auto; /* center align */
}
/* font */
.h1{
    font-size:38px;
    font-weight:bold;
}
.h2{
    font-size:34px;
    font-weight:bold;
}
.h3{
    font-size:32px;
    font-weight:bold;
}
.h4{
    font-size:28px;
    font-weight:bold;
}
.h5{
    font-size:21px;
    font-weight:bold;
}
.h6{
    font-size:18px;
    font-weight:bold;
}
.p{
    font-size:15px;
}
/* header */
header{
    max-width: 1280px;
    padding-top: 3%;
    margin:0 auto;
}
header a{
    display:block;
    width:30%;
    height:200px;
    background-image: url(/Next_HaninBridge/asset/img/logo.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
/* footer */
footer{
    
}
footer .wrap{
    padding-top: 40px;
    background-color: #5a5a5a;
}
footer .wrap div{
    text-align: center;
    margin-bottom: 20px;
}
footer .wrap > ul{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-around;
}
footer .wrap ul li{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:20px;
    color:#fff;
    line-height: 2;
}
footer .wrap p{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size:18px;
    color:#fff;
}