/* for all */
*{
    margin:0;
    padding:0;
    line-height: 1;
    font-family: 'Nanum Gothic', serif;
    list-style: none;
}
/* wrap */
.wrap{
    max-width:1280px; /* for responsive UI */
    margin: 0 auto; /* center align */
}
/* font */
.h1{
    font-size:38px;
    font-weight:bold;
}
.h2{
    font-size:34px;
    font-weight:bold;
}
.h3{
    font-size:32px;
    font-weight:bold;
}
.h4{
    font-size:28px;
    font-weight:bold;
}
.h5{
    font-size:21px;
    font-weight:bold;
}
.h6{
    font-size:18px;
    font-weight:bold;
}
.p{
    font-size:15px;
}
/* header */
header{
    max-width: 1280px;
    padding-top: 3%;
    margin:0 auto;
}
header a{
    display:block;
    width:30%;
    height:200px;
    background-image: url(/asset/img/common/logo.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
/* footer */
footer{
    
}
footer .wrap{
    background-color: #5a5a5a;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer .wrap .footer_img{
    width:80%;
    height:48px;
    background-image: url(/asset/img/common/footer_logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    margin: 0 auto;
}
footer .wrap .footer_info{
    padding-top: 10px;
    display:flex;
    width:80%;
    margin:0 auto;
    justify-content: space-between;
}
footer .wrap .footer_info ul:nth-child(1){

}
footer .wrap .footer_info ul:nth-child(1) li{
    color: #fff;
    font-size:17px;
    line-height: 2;
}
footer .wrap .footer_info ul:nth-child(2){
    
}
footer .wrap .footer_info ul:nth-child(2) li{
    color: #fff;
    font-size:17px;
    line-height: 2;
}
footer .wrap p{
    width:80%;
    color: #fff;
    margin:0 auto;
    line-height: 2;
}
/* top btn */
#top_btn{
    width:40px;
    height:40px;
    color:#fff;
    text-decoration: none;
    background-color: #5a5a5a;
    position:fixed;
    right: 3%;
    bottom: 3%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* navi anchor */
#navi_anchor{
    position:fixed;
    right:3%;
    top:7%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#000;
    font-size:25px;
    width:150px;
    height:100px;
    border:3px solid #A67951;
    box-sizing: border-box;
    transition: all 0.7s;
}
#navi_anchor:hover{
    background-color: #A67951;
    color:#fff;
}
/* navi */
#navi{
    display:block;
    position:fixed;
    top:7%;
    right:3%;
    width:150px;
    text-align: center;
    border: 1px solid #A67951;
    box-sizing: border-box;
    z-index: 1;
}
#navi li{
    height:100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#navi li:nth-child(1){
    border-bottom: 1px solid #A67951;
    box-sizing: border-box;
}
#navi li:nth-child(1) a{
    font-family: 'Nanum Myeongjo', serif;
    font-size:15px;
    line-height: 2;
    text-decoration :none;
    color:#fff;
}
#navi li:nth-child(2){
    border-bottom: 1px solid #A67951;
    box-sizing: border-box;
    transition: all 0.7s;
}
#navi li:nth-child(2):hover{
    background-image: url(/asset/img/index/aboutus.jpg);
    background-size:cover;
    background-position:center;
}
#navi li:nth-child(2) a{
    font-family: 'Nanum Myeongjo', serif;
    font-size:15px;
    line-height: 2;
    text-decoration :none;
    color:#fff;
    width:80%;
    background-color:rgba(166,121,81,0.5);
    margin:0 auto;
    border-radius: 7.5px;
}
#navi li:nth-child(3){
    border-bottom: 1px solid #A67951;
    box-sizing: border-box;
    transition:all 0.7s;
}
#navi li:nth-child(3):hover{
    background-image: url(/asset/img/index/interpretation.jpg);
    background-size:cover;
    background-position:center;
}
#navi li:nth-child(3) a{
    font-family: 'Nanum Myeongjo', serif;
    font-size:15px;
    line-height: 2;
    text-decoration :none;
    color:#fff;
    width:80%;
    background-color:rgba(166,121,81,0.5);
    margin:0 auto;
    border-radius: 7.5px;
}
#navi li:nth-child(4){
    transition:all 0.7s;
}
#navi li:nth-child(4):hover{
    background-image: url(/asset/img/index/consulting.jpg);
    background-size:cover;
    background-position:center;
}
#navi li:nth-child(4) a{
    font-family: 'Nanum Myeongjo', serif;
    font-size:15px;
    line-height: 2;
    text-decoration :none;
    color:#fff;
    width:80%;
    background-color:rgba(166,121,81,0.5);
    margin:0 auto;
    border-radius: 7.5px;
}
/* menu anchor */
#menu_anchor{
    display:none;
}
/* menu btn */
#menu_btn{
    display:none;
}

