@media screen and (max-width:768px){ /* for typical smartphone */

    /* header */
    header{

    }
    header a{
        height:70px !important;
    }

    /* footer */
    footer{
    
    }
    footer .wrap{
        
    }
    footer .wrap .footer_img{
        height:25px;
    }
    footer .wrap .footer_info{
        display:block;
    }
    footer .wrap .footer_info ul:nth-child(1){
    
    }
    footer .wrap .footer_info ul:nth-child(1) li{
        font-size: 10px;
    }
    footer .wrap .footer_info ul:nth-child(2){
        
    }
    footer .wrap .footer_info ul:nth-child(2) li{
        font-size: 10px;
    }
    footer .wrap p{
        font-size:10px;
    }

    /* hide top btn */
    #top_btn{
        display:none !important;
    }
}