    
    
    *{
        margin:0 auto;
        padding:0;
    }
    /* header style */
    ul, li{
        list-style:none;
    }
    html, body{
        width:1280px;
    }
    header{
        text-align:center;
        margin-bottom: 40px;
    }
    header > h1{
        border-bottom: 3px solid #A67951;
        margin-top: 20px;
        padding-bottom:20px;
    }
    header > nav{
        border-bottom: 3px solid #A67951;
        font-family: 'Nanum Myeongjo', serif;
    }
    .navi > ul{
        display:flex;
        justify-content: space-around;
    }
    .navi > ul > li > a{
        text-decoration:none;
        font-size: 28px;
        color:#000;
    }
    .navi > ul > li:hover{
        opacity:0.5;
    }

    /* main slide */
    #visual{
        width:1280px;
        height:760px;
        margin:0px auto;
        position:relative;
        overflow:hidden;
    }
    .slide{
        width:5120px;
        display:flex;
    }
    .slide > li{
        width:1280px;
    }
    i.fa-solid{
        position:absolute;
        z-index: 1;
        top:85%;
        font-size:40px;
        padding:20px;
        cursor:pointer;
        color:#c8c8c8;
    }
    .fa-circle-arrow-left{
        left:0px;
    }
    .fa-circle-arrow-right{
        right:0px;
    }
    .c_btn_bot{
        width:100%; /* for applying text-align */
        position:absolute;
        bottom:60px;
        text-align: center;
    }
    .c_btn_bot > li{
        width:25px;
        height:25px;
        display:inline-block;
        background: #fff;
        border-radius:50%;
        list-style:none;
        cursor:pointer;
        transition:0.3s;
        margin-left:10px;
    }
    .on{
        width:50px !important;
        border-radius:10px !important;
        background: #c8c8c8 !important;
    }
    /* about us style */
    #about_us{
        border-top:3px solid #A67951;
        border-bottom:3px solid #A67951;
        text-align:center;
        padding-top:100px;
        padding-bottom:100px;
        height:704px;
    }
    #about_us_img{
        display:inline-block;
        vertical-align:top;
    }
    #about_us_txt{
        text-align:left;
        display:inline-block;
        width:600px;
        margin-left:80px;
    }
    #about_us_txt h1{
        font-size:40px;
        font-family: 'Nanum Myeongjo', serif;
    }
    #about_us_txt h3{
        font-size:24px;
        font-family: 'Nanum Myeongjo', serif;
    }
    #about_us_txt p{
        font-size:16px;
        line-height:38px;
    }

    /* services */
    #services{
        border-bottom:3px solid #A67951;
        text-align:center;
    }
    #services1{
        width:1280px;
        margin-top:100px;
        margin-bottom:100px;
    }
    #services_txt1{
        display:inline-block;
        text-align:left;
        width:500px;
        height:550px;
    }
    #services_txt1 h1{
        font-size:38px;
        font-family: 'Nanum Myeongjo', serif;
    }
    #services_txt1 p{
        font-size:16px;
        line-height:2;
    }
    #services_txt1_translate{
        font-size:18px;
        text-decoration:none;
        color:#A67951;
    }
    #services_txt1_idn{
        display:none;
        font-size:16px;
        line-height: 2;
    }
    #services_txt1_translate_hide{
        font-size:18px;
        text-decoration: none;
        color:#A67951;
    }
    #services_img1{
        display:inline-block;
        vertical-align: top;
        width:500px;
        height:550px;
        margin-left: 150px;
    }
    #services2{
        margin-bottom:100px;
    }
    #services_txt2{
        text-align:left;
        display:inline-block;
        width:500px;
        height:550px;
    }
    #services_txt2 h1{
        font-size:38px;
        font-family: 'Nanum Myeongjo', serif;
    }
    #services_txt2 p{
        font-size:16px;
        line-height:2;
    }
    #services_txt2_translate{
        font-size:18px;
        text-decoration:none;
        color:#A67951;
    }
    #services_txt2_idn{
        display:none;
        font-size:16px;
        line-height: 2;
    }
    #services_txt2_translate_hide{
        font-size:18px;
        text-decoration: none;
        color:#A67951;
    }
    #services_img2{
        width:500px;
        height:550px;
        text-align: left;
        display:inline-block;
        vertical-align: top;
        margin-right: 150px;
    }

    /* footer style*/
    footer{
        background-color: #5a5a5a;
        color: #fff;
        text-align: left;
    }
    .logo{
        padding-top: 30px;
        padding-bottom: 0px;
        padding-left: 100px;
    }
    .info{
        padding-bottom:35px;
        display:flex;
        line-height: 70px;
        font-size:20px;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .copyright > p{
        font-size:13px;
        padding-bottom: 20px;
        padding-left: 100px;
    }

    /* top button style */
    #top_btn{
    position:fixed;
    right:3%;
    bottom:50px;
    color:#fff;
    background-color: #000;
    font-size:15px;
    padding:13px;
    text-decoration: none;
    }
