@media screen and (max-width:768px){ /* for typical smartphone */

    #introduce{
        
    }
    #introduce .wrap{
        margin-top: 0;
        padding-bottom: 30px;
    }
    #introduce .wrap hgroup{
        margin-bottom: 20px;
    }
    #introduce .wrap hgroup h3{
        font-size:25px;
    }
    #introduce .wrap hgroup h4{
        font-size:20px;
    }
    #introduce .wrap div{
        height:250px;
        padding: 0 10px;
        border: 1px solid #A67951;
    }
    #introduce .wrap div p{
        font-size:10px;
    }

}