@media screen and (max-width:768px){ /* for typical smartphone */

    #path{
    
    }
    #path .wrap{
        margin-top: 40px;
        padding-bottom: 20px;;
    }
    #path .wrap h3{
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    #path .wrap ul{
        height:500px;
    }
    #path .wrap ul li{
        
    }
    #path .wrap ul li:nth-child(1){
        border: 1px solid #A67951;
    }
    #path .wrap ul li:nth-child(1) .swiper{
        
    }
    #path .wrap ul li:nth-child(1) .swiper .swiper-wrapper{
    
    }
    #path .wrap ul li:nth-child(1) .swiper .swiper-wrapper .img1{
        
    }
    #path .wrap ul li:nth-child(1) .swiper .swiper-wrapper .img2{
        
    }
    #path .wrap ul li:nth-child(1) .swiper .swiper-pagination-bullet-active{
        
    }
    #path .wrap ul li:nth-child(1) .swiper .swiper-button-prev{
        display:none;
    }
    #path .wrap ul li:nth-child(1) .swiper .swiper-button-next{
        display:none;
    }
    #path .wrap ul li:nth-child(2){
        margin-top: 30px;
        padding: 0 10px;
        border: 1px solid #A67951;
    }
    #path .wrap ul li:nth-child(2) p{
        font-size:10px;
    }

}