@media screen and (max-width:768px){ /* for typical smartphone */
    #title{

    }
    #title .wrap{
        height:150px !important;
        margin-bottom: 0 !important;
        margin-top: 10% !important;
    }
    #title .wrap hgroup{

    }
    #title .wrap hgroup h3{
        font-size:50px !important;
    }
    #title .wrap hgroup h1{
        font-size:45px !important;
    }
}