#director{
    margin-top: 100px;
}
#director .wrap{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 3px solid #A67951;
    border-top: 3px solid #A67951;
}
#director .wrap h2{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size:60px;
    line-height: 1.8;
    margin-bottom: 5%;
    letter-spacing: 5px;
}
#director .wrap ul{
    display:flex;
    width:100%;
    height:1000px;
    column-gap:80px;
    justify-content: space-between;
}
#director .wrap ul li{
    display:block;
    height:100%;
    width:calc(100% - 80px / 2);
}
#director .wrap ul li:nth-child(1){
    background-image: url(/asset/img/Director/director.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#director .wrap ul li:nth-child(2){
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#director .wrap ul li:nth-child(2) h3{
    font-size:50px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    line-height: 2.5;
    border-bottom: 3px solid #A67951;
}
#director .wrap ul li:nth-child(2) p{
    font-size:20px;
    line-height: 2;
    padding: 15px;
    font-family: 'Nanum Gothic', sans-serif;
}