@media screen and (max-width:768px){ /* for typical smartphone */

    #introduce{
        
    }
    #introduce .wrap{
        margin-top: 0;
        margin-bottom: 50px;
    }
    #introduce .wrap hgroup{
        height:80px;
    }
    #introduce .wrap hgroup h3:nth-child(1){
        font-size:20px !important;
    }
    #introduce .wrap hgroup h3:nth-child(2){
        font-size:25px !important;
    }
    #introduce .wrap div{
        height:150px
    }
    #introduce .wrap div p{
        font-size:12px;
    }

}