#partners{
    
}
#partners .wrap{
    border-top: 3px solid #A67951;
}
#partners .wrap h3{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    text-align: center;
    line-height: 3;
}
#partners .wrap .swiper {
    border: 3px solid #A67951;
    width: 100%;
    height: 720px;
}
#partners .wrap .swiper .swiper-wrapper{

}
#partners .wrap .swiper .swiper-wrapper .img1{
    background-image: url(/asset/img/partners/kcc_company.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
#partners .wrap .swiper .swiper-wrapper .img2{
    background-image: url(/asset/img/partners/kcc_company.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
#partners .wrap .swiper .swiper-wrapper .img3{
    background-image: url(/asset/img/partners/kcc_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#partners .wrap .swiper .swiper-wrapper .img4{
    background-image: url(/asset/img/partners/adapt.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#partners .wrap .swiper .swiper-wrapper .img5{
    background-image: url(/asset/img/partners/innoderm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#partners .wrap .swiper .swiper-pagination-bullet{
    
}
#partners .wrap .swiper .swiper-pagination-bullet-active{
    background-color: #A67951;
}
#partners .wrap .swiper .swiper-button-prev{
    left:3%;
    color: #A67951;
}
#partners .wrap .swiper .swiper-button-next{
    right:3%;
    color: #A67951;
}