#interpreter{
    
}
#interpreter .wrap{
    padding-bottom: 50px;
    border-bottom: 3px solid #a67951;
}
#interpreter .wrap hgroup{
    width:80%;
    margin:0 auto;
    margin-bottom: 80px;
    opacity:0.1;
}
#interpreter .wrap hgroup h2{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    line-height: 3;
}
#interpreter .wrap hgroup h3{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 35px;
    text-align:right;
}
#interpreter .wrap .pjw{
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    width:90%;
    height:900px;
    column-gap: 50px;
    margin-bottom: 100px;
}
#interpreter .wrap .pjw li:nth-child(1){
    width:calc(100% / 2 - 50px / 2);
    background-image: url(/asset/img/interpretation/interpreter/pjw.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x: -100px;
}
#interpreter .wrap .pjw li:nth-child(2){
    width:calc(100% / 2 - 50px / 2);
    border: 2px solid #a67951;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#interpreter .wrap .pjw li:nth-child(2) h3{
    font-size:40px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    line-height: 2.5;
    border-bottom: 2px solid #A67951;
    margin-bottom: 20px;
}
#interpreter .wrap .pjw li:nth-child(2) p{
    font-size:18px;
    line-height: 2;
    padding: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight:300;
    text-align: center;
}
#interpreter .wrap .yth{
    display:flex;
    margin:0 auto;
    justify-content: space-between;
    width:90%;
    height:750px;
    column-gap: 50px;
}
#interpreter .wrap .yth li:nth-child(1){
    width:calc(100% / 2 - 50px / 2);
    border: 2px solid #a67951;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#interpreter .wrap .yth li:nth-child(1) h3{
    font-size:40px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    line-height: 2.5;
    border-bottom: 2px solid #A67951;
    margin-bottom: 20px;
}
#interpreter .wrap .yth li:nth-child(1) p{
    font-size:18px;
    line-height: 2;
    padding: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight:300;
    text-align: center;
}
#interpreter .wrap .yth li:nth-child(2){
    width:calc(100% / 2 - 50px / 2);
    background-image: url(/asset/img/interpretation/interpreter/yth.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x: 0;
}
#interpreter .wrap .res_pjw, #interpreter .wrap .res_yth{
    display:none;
}