#interpreter{
    
}
#interpreter .wrap{
    padding-bottom: 50px;
    border-bottom: 3px solid #a67951;
}
#interpreter .wrap hgroup{
    width:80%;
    margin:0 auto;
    margin-bottom: 50px;
    opacity:0.1;
}
#interpreter .wrap hgroup h2{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    line-height: 3;
}
#interpreter .wrap hgroup h3{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 35px;
    text-align:right;
}
#interpreter .wrap ul{
    display:flex;
    column-gap:20px;
    padding:0 50px;
    box-sizing: border-box;
}
#interpreter .wrap ul li{
    width:calc(100% / 4 - 20px / 4);
    height:650px;
    box-sizing: border-box;
}
#interpreter .wrap ul li:nth-child(1){
    background-image: url(/asset/img/interpreter/박진우_대표.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -200px;
}
#interpreter .wrap ul li:nth-child(2){
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#interpreter .wrap ul li:nth-child(2) h3{
    font-family: 'Nanum Myeongjo', serif;
    font-size:25px;
    border-bottom: 2px solid #A67951;
    line-height: 2.5;
    margin-bottom: 20px;
    text-align: center;
}
#interpreter .wrap ul li:nth-child(2) p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
    font-weight: 300;
}
#interpreter .wrap ul li:nth-child(3){
    background-image: url(/asset/img/interpreter/양태훈_팀장.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: -30px;
}
#interpreter .wrap ul li:nth-child(4){
    padding-top: 20px;
    box-sizing: border-box;
}
#interpreter .wrap ul li:nth-child(4) h3{
    font-family: 'Nanum Myeongjo', serif;
    font-size:25px;
    border-bottom: 2px solid #A67951;
    line-height: 2.5;
    margin-bottom: 20px;
    text-align: center;
}
#interpreter .wrap ul li:nth-child(4) p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;
    font-weight: 300;
}

#interpreter .wrap ul li:nth-child(1), #interpreter .wrap ul li:nth-child(3){
    border:2px solid #A67951;
}