#contact{
    
}
#contact .wrap{
    padding-bottom: 50px;
    border-bottom: 3px solid #A67951;
}
#contact .wrap h3{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    width:80%;
    line-height: 3;
    margin: 0 auto;
    letter-spacing: 7px;
}
#contact .wrap ul{
    width:80%;
    height:500px;
    margin:0 auto;
    display: flex;
    column-gap: 20px;
}
#contact .wrap ul li{
    width: calc(100% - 20px / 2);
    
}
#contact .wrap ul li:nth-child(1){
    background-image: url(/Next_HaninBridge/asset/img/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#contact .wrap ul li:nth-child(2){
    border: 3px solid #A67951;
    box-sizing: border-box;
}