/* do not show menu bar for responsive (wider than 769px) */
#responsive_menu{
    display:none;
}
@media screen and (max-width:768px){ /* for typical smartphone */
    
    /* original menu */
    #menu{
        
    }
    #menu .wrap{

    } 
    #menu .wrap ul{
        display:none;
    }
    #menu .wrap ul li{
        
    }
    #menu .wrap ul li a{

    }
    
    /* responsive_menu */
    #responsive_menu{
        display:block;
    }
    #responsive_menu .wrap{
        margin-top: 50px;
        width:70%;
    }
    #responsive_menu .wrap ul{
        
    }
    #responsive_menu .wrap ul li{
        height:150px;
        border-radius: 50px;
        border: 1px solid #A67951;
        box-shadow: 9px 2px 32px rgba(0,0,0,0.3);
        box-sizing: border-box;
    }
    #responsive_menu .wrap ul li:nth-child(1){
        background-image: url(/asset/img/index/aboutus.jpg);
        background-position:right;
        background-repeat: no-repeat;
        background-size: cover;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        transform:translateX(50%);
    }
    #responsive_menu .wrap ul li:nth-child(2){
        background-image: url(/asset/img/index/interpretation.jpg);
        background-position:right;
        background-repeat: no-repeat;
        background-size: cover;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        transform:translateX(-50%);
    }
    #responsive_menu .wrap ul li:nth-child(3){
        background-image: url(/asset/img/index/import_export.jpg);
        background-position:right;
        background-repeat: no-repeat;
        background-size: cover;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform:translateX(50%);
    }
    #responsive_menu .wrap ul li a{
        text-decoration: none;
        color: #fff;
        font-family: 'Nanum Myeongjo', serif;
        font-size:20px;
        display:block;
        width:200px;
        line-height:2;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(166,121,81,0.8);
    }
}