@media screen and (max-width:768px){ /* for typical smartphone */
    #title{

    }
    #title .wrap{
        height:70px !important;
        margin-bottom: 0 !important;
        margin-top: 10% !important;
    }
    #title .wrap hgroup{

    }
    #title .wrap hgroup h3{
        font-size:25px !important;
        transform:translateX(-22%) !important;
        letter-spacing: 2px !important;
    }
    #title .wrap hgroup h1{
        font-size:20px !important;
        transform:translateX(3%) !important;
        letter-spacing: 2px !important;
    }
}